{% extends "header.html" %}
{%block bodyContent%} 
<form class="form-horizontal" role="form" style="padding:15px; margin:0 auto;">
	{% csrf_token %}
	<div >
		<div class="container" style="border:1px solid gray; width:390px; height:250px;border-radius:8px; margin-top:10%; backgroun:#ECE9E9">
			 		<h2>Please Login</h2>
			 		<div class="col-sm-16">
                     <input type="text" class="form-control" id="username" placeholder="Username" required="" name="username">
                	</div>	
                	<div style="height:20px;"> </div>
                	<div class="col-sm-16">
                     <input type="password" class="form-control" id="password" placeholder="Password" required="" name="password">
                	</div>	
                	<div style="height:20px;"> </div>	 
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>	 
	
		</div>
	</div>
</form>
{%endblock%}
